# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#IGNORE EVERYTHING EXCEPT SOURCE FILES
*

#Exceptions

!*.md
!.gitignore
!*.cpp
!*.h
!*.hpp
!*.txt

#image files
!*.png
!.jpg

#even in sub dir
!*/
!*/*/

