# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#IGNORE EVERYTHING EXCEPT SOURCE FILES
*

#Except
!.gitignore
!*.cpp
!*.h
!*.hpp
!*.txt

#even in sub dir
!*/

